@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500;700&family=Rubik:wght@400;600&display=swap');

.hero {
  //   height: 80vh;
  .bubble-joke {
    font-family: 'Grandstander', sans-serif;
    h1 {
      font-weight: 400;
    }
    h2 {
      font-weight: 700;
    }
  }
}
